<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Matchishmo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>321F22871DF1B47A00E72516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>321F22A01DF1B47B00E72516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>321F22AB1DF1B47B00E72516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
